.banesa-heading{
    margin-top:200px;
}
.banesa-page-text h1{
    font-family:"Conthrax";
    font-size:36px;
    color:rgb(94,64,67)
}
.banesa-page-text p{
    font-family:"Tactic Round";
    font-size:16px;
    margin-top:20px;
}

.image-container img{
    max-width:100%;
    max-height:100%;
    margin-top:15%;
    border:3px solid rgb(04,64,67);
    border-radius:15px;
    width:auto;
    height:auto;
}
.banesa-caption{
    text-align:center;
    font-family:"Conthrax";
    margin-bottom:50px;
    color:rgb(4, 91, 96);
}

@media only screen and (max-width:550px){
    .banesa-page-text{
        padding:0rem 2rem 0rem 2rem;
    }

    .image-container{
        padding:0rem 2rem 0rem 2rem;
    }
}