.input-grid{
    display:grid;
    grid-template:auto / 32% 32% 32%;
    gap:5px;
}

.reachout-me{
    font-family:"Conthrax Bold";
    font-size:22px;
    color:rgb(4, 91, 96);
    text-align: center;
}


.submit-form{
    padding:2rem;
    border:1px solid rgb(4, 91, 96);
    border-radius:15px;
    margin-top:50px;
    background:#fff;
}

.input-holder{
    margin-bottom:20px;
}

.form-buttons-holder{
    display:flex;
    justify-content: center;
    margin-bottom:50px;
    gap:25px;
}

.add-more-images button{
    padding:.5rem .75rem .5rem .75rem;
    border-radius:15px;
    background-color:rgb(10,25,47) !important;
    color: rgb(94 234 212);
}


.form-buttons-holder button{
    padding:.5rem .75rem .5rem .75rem;
    border-radius:15px;
}

.form-buttons-holder .valid-btn{
    background-color:rgb(10,25,47) !important;
    color: rgb(94 234 212);
    border-radius:15px;
    padding:.5rem .75rem .5rem .75rem;

}

.form-buttons-holder .remove-item-btn{
    color:rgb(94 234 212);
    border-radius:15px;
    padding:.5rem .75rem .5rem .75rem;
    background-color: #df4759;
}